/* ========================================================================================= */
/* ======================================= MAIN COLOR : #f9966f =================================== */
/* ========================================================================================= */

.title:after {
 	background: #f9966f;
}
.small-title:after {
 	background: #f9966f;
}
.sidebar ul .active a:before {
 	background: #f9966f;
}
.sidebar ul li a:hover::before {
 	background: #f9966f;
}
.home-page .middle-l h3 span {
 	background-color: #f9966f;
}
.info ul li a {
    border-color: #f9966f;
}
.services ul li .service-box:hover i {
	background: #f9966f;
	border-color: #f9966f;
}
.resume .column-left .icon {
	background: #f9966f;
}
.resume .column-right .icon {
	background: #f9966f;
}
.filter a:hover {
    border-bottom: 1px solid #f9966f;
}
.filter li a.active {
    border-bottom: 1px solid #f9966f;
}
.form-group input:focus,
.form-group textarea:focus {
  border-color: #f9966f;
}
.form-group .button {
    background: #f9966f;
}
.contact-info .item i {
    color: #f9966f;
}